body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 992px;
  width: 100%;
  min-height: 100vh;
}

.box {
  padding: 20px;
  width: 100%;
  max-width: 800px;
}
